
/* Header creation */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3; ;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

/* Nav bar creation */
nav{
    width: 71%;
    max-width: 1140;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.color-orange{
    color: #FD6E0A;

}
nav .menu{
    display: flex;
    gap: 30px;
    max-width:390px ;
    justify-content: space-between; 
    margin-top: 20px;
    align-items: center;  
}
nav .menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}
.menu li{
    list-style: none;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.btn{
     background-color: #FD6E0A;
     border: none;
     padding: 18px 35px;
     border-radius: 5px;
     font-size: 20px;
     font-weight: bold;
     color: white;
     cursor: pointer;
}
/* Banner Creation */

#banner-container{
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner-container .banner-content{
    max-width: 585px;
}
#banner-container .banner-content h2{
    font-size: 45px;
    font-weight:600;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 5px;
}

#banner-container .banner-content h1{
    font-size: 85px;
    font-weight:700 ;
    color:var(--Dark 01, rgba(24, 24, 24, 1)); 
    margin-bottom: 20px;
}

#banner-container .banner-content p{
    font-size: 18px;
    font-weight:400 ;
    color:rgba(117, 117, 117, 1); 
    margin-bottom: 30px;
    line-height: 30px;
}

#banner-container .banner-image img{
    max-width: 585px;
    vertical-align: middle;

}

/* creating about */

#about{
    padding-top: 130px;
}

#about .about-container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 248, 243, 1);
    padding: 131px 156px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color: rgba(117, 117, 117, 1);
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    font-size: 20px;
    font-weight:400 ;
    color:rgba(117, 117, 117, 1); 
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 20px;
}

/* Creating skills */

#skills{
    padding-top: 130px;
}
#skills .skills-container{
    max-width: 1140px;
    margin: 0 auto;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;;
}

.skills-container .skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skill-card{
    padding: 30px;
    max-width: 247px;
    box-shadow: 0 6px 50px 0 #0000004b;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    font-weight:400 ;
    color:rgba(117, 117, 117, 1); 
    line-height: 28px;
}

