
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.color-orange{
    color: #FD6E0A;

}
nav .menu{
    display: flex;
    gap: 30px;
    max-width:390px ;
    justify-content: space-between; 
    margin-top: 20px;
    align-items: center;  
}
nav .menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}
.menu li{
    list-style: none;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.button{
     background-color: #FD6E0A;
     border: none;
     padding: 18px 35px;
     border-radius: 5px;
     font-size: 20px;
     font-weight: bold;
     color: white;
}