/* Shared property */
*{
    margin: 0;
    padding: 0;
}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.orange-cha{
    color: #FD6E0A;
}

.btn{
    padding: 19px 36px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

/* Main property */
header{
    background-color:#FFF8F3;
    padding-top: 50px;
}
nav{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content:space-around;
    align-items: center;
}

.name h2{
    font-size: 45px;
    font-weight:900
}

.navigation{
    max-width: 390px;
}
nav .navigation ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}
.navigation ul a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}


